@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: linear-gradient(68.15deg, #23232f 16.62%, #52788e 85.61%);
    color: white;
}
header{
    display: flex;
    align-items: center;
    padding: 18px;
    justify-content: space-around;
    font-family: 'Sarala', sans-serif;
}
header > img {
    width: 62px;
    height: 62px;
}
header > nav > a{
    padding: 32px;
    color: lightgray;
    font-size: 1.1em;
}

main{
    border-top: 0.5px solid white;
}
#principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#principal > .info{
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: 'Sarala', sans-serif;
}
#principal > .info > h1 {
    font-family: 'Righteous', cursive;
    font-size: 64px;
}
#principal > .info > h2 {
    font-size: 24px;
    color: #e0dfdf;
}
#principal > .info > button {
    width: 190px;
    height: 70px;
    background-color: rgb(189, 189, 189);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    font-size: 18px;
}
#principal > img {
    max-height: 380px;
    margin-top: 20px;
}
#principal > .info > button:hover{
    background-color: rgb(241, 240, 240);
    box-shadow: 6px 7px 6px rgba(0, 0, 0, 0.25);
}

#secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 200px;
}
#secundario > h3 {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 50px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    margin-bottom: 20px;
}
#secundario > ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    list-style-type: decimal;
}

footer {
    padding: 28px;
    border-top: 0.5px solid white;
    background-color: black;
    margin-top: 100px;
}
footer > a > img {
    height: 48px;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width:730px) {
    header{
        flex-direction: column;
    }
    header > img {
        padding-bottom: 20px;
    }
    header > nav{
        display: flex;
    }
    header > nav > a{
        padding: 28px 0px 28px 20px;
        font-size: 1em;
    }
    header nav a:nth-child(4){
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1em;
    }
    #principal {
        flex-direction: column;
    }
    #principal > div > h1 {
        font-size: 60px;
        text-align: center;
        padding-top: 50px;
    }
    #principal > div > h2 {
        font-size: 22px;
        text-align: center;
    }
    #principal > div > button{
        display: block;
        margin: auto;
    }
    #principal > img {
        height: 360px;
    }

    #secundario{
        text-align: center;
        gap: 22px;
    }
    #secundario > ul{
        gap: 16px;
        font-size: 16px;
        list-style-type: none;
    }
    footer {
        padding: 24px;
        margin-top: 80px;
    }
    footer > a > img {
        height: 44px;
    }
}